<!-- Button content with router link support -->
@if (href) {
  <a
    [href]="href"
    [class]="buttonClasses"
    [attr.data-disabled]="disabled ? 'true' : null"
    (click)="onClick($event)"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    (mousedown)="onMouseDown()"
    (mouseup)="onMouseUp()"
  >
    <ng-content></ng-content>
  </a>
} @else if (routerLink) {
  <a
    [routerLink]="routerLink"
    [class]="buttonClasses"
    [attr.data-disabled]="disabled ? 'true' : null"
    (click)="onClick($event)"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    (mousedown)="onMouseDown()"
    (mouseup)="onMouseUp()"
  >
    <ng-content></ng-content>
  </a>
} @else {
  <button
    [type]="type"
    [class]="buttonClasses"
    [disabled]="disabled"
    [attr.data-disabled]="disabled ? 'true' : null"
    (click)="onClick($event)"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    (mousedown)="onMouseDown()"
    (mouseup)="onMouseUp()"
  >
    <ng-content></ng-content>
  </button>
}
